.texto{
    color: #ffffff;
    width: 500px;
    height: 382px;
}

h3{
    font-family: 'barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33.6px;
    text-transform: uppercase;
    letter-spacing: 4.72px;
    color: #D0D6F9;
}

h1{
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.9px;
    text-transform: uppercase;
    margin: 0;
}
p{
    font-family: 'barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    /* width: 444px; */
}