/* You can add global styles to this file, and also import other style files */
html,
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    /* background-image: url(./assets/home/background-home-desktop.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bellefair', serif;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}


.flexMiddle {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* CSS de propiedades active de las navegaciones */

.navPlaneta {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.navPeople {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
}

.navTecnologia {
    background: #FFFFFF;
    color: #000000;
}

.menu a:active {
    height: inherit;
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 3px solid #ffffff;
}